.up-to-top {
    position: fixed;
    z-index: 200;
    width: 2em;
    height: 2em;
    background: rgba(0, 0, 0, .08);
    bottom: 2em;
    right: 2.8em;
}

.up-to-top:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.upward {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 1.8em;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; 
    margin: auto;
    text-align: center;
    color: #3f51b5;
}

.upward:hover {
    color: #FFF;
}