@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

.actions {
  @include display-flex(center, space-between);
}

.filter-area {
  @include display-flex(center, flex-end);

  mat-form-field {
    margin: 0 10px;

    input {
      font-size: 14px;
    }
  }
}

.job-id {
  flex: 0.2;
}

.job-command {
  flex: 1;
  @include ellipsis-text;
}

.job-progress {
  flex: 0.8; // text-align: right;
}

.job-updated {
  flex: 0.4;
}

.job-created,
.job-state {
  flex: 0.4;
}

.color-icon {
  color: #3f51b5;
}

.list-container {
  width: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  font-size: .8em;
}

.list-content {
  height: calc(100vh - 210px);
  position: relative;
}

.list-item,
.list-header {
  @include display-flex;
  height: 40px;
  width: 100%;
  background: #ffffff;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.list-header {
  align-items: center;
}

:host ::ng-deep .up-to-top {
  bottom: 2em;
  right: 2.8em;
  width: 2em;
  height: 2em;
}

:host ::ng-deep .upward {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1em;
  height: 1em;
  color: $color;
}

@mixin none-animation {
  animation: none !important;
  transition-property: none !important;
}

:host ::ng-deep .mat-progress-bar .mat-progress-bar-buffer {
  @include none-animation;
}

:host ::ng-deep .mat-progress-bar .mat-progress-bar-fill {
  @include none-animation;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(238, 238, 238, .55);
  z-index: 100;
  @include display-flex(center, center);
}
